meta(charset='UTF-8')/
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')/
script(src='/assets/js/jquery.min.js')
script(src='/assets/js/bootstrap.bundle.js')
script(src='/assets/js/chart.bundle.js')
script(src='/assets/js/utils.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
link(href='/assets/css/bootstrap.min.css' rel="stylesheet")
link(href='/assets/css/animate.css' rel="stylesheet")
link(href='/assets/css/font-awesome.css' rel="stylesheet")
link(href='/assets/main.css' rel="stylesheet")
title 树莓派自动浇花系统
