nav(role="navigation")
	ul.navigation.nomargin
		li.nav-header.fl
			a(href="/") RaspberryPi Automatic watering
		if !user
			li.fr
				a(href="/login")  登录	
		if user&&user.root
			li.fr 管理员您好,#{user.username}
			li.fr
				a(href="/")  注册
		if user
			li.fr
				a(href="/logout")  登出
header.title
	div.container
		h1.color-white.center  RaspberryPi Automatic watering
		p.color-white.center.intro  树莓派自动浇花系统
