nav(role="navigation")
	ul.navigation.nomargin
		li.nav-header.fl
			a(href="/") RaspberryPi Automatic watering
		li.fr
			a(href="/") Log in
		li.fr
			a(href="/") Sign up
header.title
	div.container
		h1.color-white.center  RaspberryPi Automatic watering
		p.color-white.center.intro  树莓派自动浇花系统
section.brief
	div.container
		div.row
			div.col-sm-4
			div.col-sm-4
			div.col-sm-4
