<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">  
	<title>树莓派自动浇花系统</title>
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">温湿度曲线图</div>
			<div class="panel-body">
				<canvas id="myChart" height="90px"></canvas>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">视频和照片</div>
			<div class="panel-body">
				<div class="row">
					<div  class="col-xs-12 col-md-6"><img src="" alt="" id="stream"></div>
					<div class="col-xs-12 col-md-3"><img src="" alt="" class="rounded img-fluid"></div>
					<div class="col-xs-12 col-md-3"><img src="" alt="" class="rounded img-fluid"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>