doctype html
html
	include ./includes/head.pug
	link(href='/assets/css/login.css' rel="stylesheet")
	body
		include ./includes/nav.pug
		if error
			div.alert.alert-danger.show3s.nopadding.noborder  #{error}
		if user
			div.container   您已登录不需要重新登录了。
		else
			div.container
				div.login-page
					div.form
						div.form-head  Login
						form.login-form(method="post" action="/login")
							input(type="text" name="username" id="name" placeholder="username")
							input(type="password" name="password" id="password" placeholder="password")
							button(type="submit" ) 登录
	script(src='/assets/js/login.js')